<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <meta charset="utf-8">

        <title>IrcBot</title>

        <meta name="keywords" content="" />
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
        <link rel="stylesheet" type="text/css" href="~/content/theme.css">

        <link rel="shortcut icon" href="~/favicon.ico">

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div id="main">
            
            @Html.Partial("LayoutHeader")
            @Html.Partial("LayoutLeftSidebar")

            <section id="content_wrapper">

                <!-- Start: Topbar-Dropdown -->
                <div id="topbar-dropmenu" class="alt">
                    <div class="topbar-menu row">
                        <div class="col-xs-4 col-sm-2">
                            <a href="#" class="metro-tile bg-primary light">
                                <span class="glyphicon glyphicon-inbox text-muted"></span>
                                <span class="metro-title">Messages</span>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <a href="#" class="metro-tile bg-info light">
                                <span class="glyphicon glyphicon-user text-muted"></span>
                                <span class="metro-title">Users</span>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <a href="#" class="metro-tile bg-success light">
                                <span class="glyphicon glyphicon-headphones text-muted"></span>
                                <span class="metro-title">Support</span>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <a href="#" class="metro-tile bg-system light">
                                <span class="glyphicon glyphicon-facetime-video text-muted"></span>
                                <span class="metro-title">Videos</span>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <a href="#" class="metro-tile bg-warning light">
                                <span class="fa fa-gears text-muted"></span>
                                <span class="metro-title">Settings</span>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            <a href="#" class="metro-tile bg-alert light">
                                <span class="glyphicon glyphicon-picture text-muted"></span>
                                <span class="metro-title">Pictures</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End: Topbar-Dropdown -->

                @RenderBody()

            </section>

            @Html.Partial("LayoutRightSidebar")

        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="~/scripts/utility.js"></script>
        <script src="~/scripts/theme.js"></script>

        @RenderSection("PageScripts", false)

    </body>

</html>